.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #0614d6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

a:hover {
  color: #dd6808;
  cursor: pointer;
}

.addBtn {
  background-color: rgb(194, 194, 194);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 6px;
}

.addBtn:hover {
  background-color: #080cdd;
  color: #fff;
}

.addBtn a:hover {
  background: #080cdd;
  color: #fff;
}

input[type="submit"] {
  background-color: rgb(194, 194, 194);
  color: #0614d6;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

input[type="submit"]:hover {
  background-color: #080cdd;
}
