* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Login Page (start) */
.center {
  background: linear-gradient(120deg, #e9ebed, #8e44ad);
  height: 40vh;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #fff;
  border-radius: 10px;
}

.center h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt-field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt-field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  z-index: -1;
  transition: 0.5s;
  pointer-events: none;
}

.txt-field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}

.txt-field input:focus ~ label,
.txt-field input:valid ~ label {
  top: -5px;
  left: 0;
  color: #2691d9;
  font-size: 12px;
}

.txt-field input:focus ~ span::before,
.txt-field input:valid ~ span::before {
  width: 100%;
}

.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 25px;
  background: #2691d9;
  outline: none;
  color: #e9f4fb;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

input[type="submit"]:hover {
  border-color: #2691d9;
  transition: 0.5s;
}

.signup-link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup-link a:hover {
  text-decoration: underline;
}
/* Login Page (end) */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  position: sticky;
  top: 0;
  background-color: rgba(233, 247, 247, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(2px);
}

.logo {
  color: #ffffff;
  font-size: 28px;
}

span {
  color: #ffd662;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffd662;
  transition: 0.3s;
  cursor: pointer;
}

.header-logo {
  color: #fff;
}

.logo {
  color: #ffd662;
}

footer {
  background: #00539c;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
}

.footer-container h3 {
  font-size: 1.8rem;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-container p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-container .links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
}

button {
  border: none;
  background: #ebdfa8;
  padding: 12px 30px;
  border-radius: 30px;
  color: #00539c;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.background-image {
  background: #000000;
}

.jumbotron {
  background: #00539c;
  color: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

.container-main {
  max-width: 90%;
  margin: auto;
  padding: 0 20px;
}

.container-fluid {
  max-width: 100%;
  margin: auto;
  padding: 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}

.grid-item {
  background: #fff;
  color: #000;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

.grid-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-10 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-10 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
